<%- include('inc/head') %>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">消费系列</h1>
</header>
<div class="content">
	<div>全联盟累计消费统计</div>
	<div class="bg-fff">
		<div class="row">
	      	<div class="col-20">
	      		<img src="./img/">
	      	</div>
	      	<div class="col-80">
	      		<img src="">
	      	</div>
	    </div>
	</div>
</div>
<%- include('inc/js_load') %> 
<%- include('inc/footer') %> 