<%- include('inc/head') %>
<%- include('inc/header') %>  
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  	<div class="wrap">
  		<h2 style="line-height: 30px;">ADVERTISEMENT</h2>
        <div class="clearfix" style="position:relative;height:450px;border:1px solid #ccc;background-image:url('');background-size: cover;overflow: hidden;">
          <img style="position:absolute;left:0;top:0;width:100%;opacity: 0.6;" src="http://ww3.sinaimg.cn/large/9499f9e8gw1ezfftb6877j20fk078tb6.jpg">
          <video style="width:100%;" autoplay="autoplay" loop="loop" volumechange="muted">
            <source src="http://huaban.com/img/muse/hod-video-small.ogg">
            <source src="http://huaban.com/img/muse/hod-video-small.mp4">
          </video>
        </div>
  		<h2 style="line-height: 30px;">RECOMMENDS</h2>
        <div class="recommend-sites">
          <div class="site-row clearfix">
            <h3>个人博客</h3>
            <ul>
              <li><a target="_blank" href="https://www.nczonline.net/">Nicholas C. Zakas</a></li>
              <li><a target="_blank" href="http://www.ruanyifeng.com/home.html">阮一峰</a></li>
              <li><a target="_blank" href="http://zjuhpp.com/">韩小麦</a></li>
              <li><a target="_blank" href="http://www.zhangxinxu.com/">张鑫旭</a></li>
            </ul>
          </div>
          <div class="site-row clearfix">
            <h3>团队博客</h3>
            <ul>
              <li><a target="_blank" href="http://ued.taobao.org/blog/">淘宝UED</a></li>
              <li><a target="_blank" href="http://taobaofed.org/">淘宝FED</a></li>
              <li><a target="_blank" href="http://mux.alimama.com/">一淘UED</a></li>
              <li><a target="_blank" href="http://fex.baidu.com/">百度FEX</a></li>
              <li><a target="_blank" href="http://ued.ctrip.com/blog/">腾讯AlloyTeam</a></li>
              <li><a target="_blank" href="http://www.75team.com/">奇虎75TEAM</a></li>
              <li><a target="_blank" href="http://ued.ctrip.com/blog/">携程UED</a></li>
            </ul>
          </div>
          <div class="site-row clearfix">
            <h3>外文网站</h3>
            <ul>
              <li><a target="_blank" href="https://www.w3.org/">W3C</a></li>
              <li><a target="_blank" href="https://www.script-tutorials.com/">Script Tutorials</a></li>
              <li><a target="_blank" href="https://24ways.org/">24ways</a></li>
            </ul>
          </div>
        </div>
  	</div>
<script type="text/javascript">
  function navFocus(){
        $("#home-nav").addClass("c");  
  }
</script>  
<%- include('inc/footer') %> 
