<%- include('inc/head') %>
<%- include('inc/header') %>  
<div class="content">
  <div class="wrap">
    <div class="photo-list">
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/FGHWLEy5/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/FGHWLEy5/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/FGHTeuhT/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/FGHTeuhT/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/Dp7POny7/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/Dp7POny7/medish.jpg"></a>
      </div>
    </div>
  </div>
</div>     
<%- include('inc/footer') %> 
