<!-- tpl1 -->
<%- include('inc/head') %>
<style type="text/css">
	.salesman-item{
		height: 3rem;
		padding: 0.5rem 0 0.5rem 0.2rem;
		padding-right: 0.5rem;
	}
	.salesman-item > div{height: 100%;}
	.salesman-item .icon-right{
		float: right;
		margin: 0.5rem 0 0 0;
	}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">业务员</h1>
</header>
<div class="content">
	<div class="item">
		<span>业务员合计：22</span>
	</div>
	<ul class="salesman-list bg-fff">
		<li class="row item salesman-item bottom-line">
			<div class="col-40">
				<span class="vm-helper"></span>
				<img class="vm avator" src="./img/myinfo_username.png">
				&nbsp;
				<span class="vm">林更新</span>
			</div>
			<div class="col-60 row">
				<span class="vm-helper"></span>
				<span class="vm">ID:AE28260 广东河源市</span>
				<span class="icon icon-right"></span>
			</div>
		</li>
		<li class="row item salesman-item bottom-line">
			<div class="col-40">
				<span class="vm-helper"></span>
				<img class="vm avator" src="./img/myinfo_username.png">
				&nbsp;
				<span class="vm">林更新</span>
			</div>
			<div class="col-60 row">
				<span class="vm-helper"></span>
				<span class="vm">ID:AE28260 广东河源市</span>
				<span class="icon icon-right"></span>
			</div>
		</li>
		<li class="row item salesman-item bottom-line">
			<div class="col-40">
				<span class="vm-helper"></span>
				<img class="vm avator" src="./img/myinfo_username.png">
				&nbsp;
				<span class="vm">林更新</span>
			</div>
			<div class="col-60 row">
				<span class="vm-helper"></span>
				<span class="vm">ID:AE28260 广东河源市</span>
				<span class="icon icon-right"></span>
			</div>
		</li>
	</ul>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){

	});
</script>
<%- include('inc/footer') %> 