<%- include('inc/head') %>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">忘记密码</h1>
</header>
<div class="content">
	<form id="save-form" action="" target="">
		<div style="height: 0.5rem;"></div>
	    <div class="list-block">
	        <ul>
	            <!-- Text inputs -->
	            <li>
	                <div class="item-content" id="user-type">
	                    <div class="item-media"><i class="icon icon-form-name"></i></div>
	                    <div class="item-inner">
	                        <div class="item-title label">类型</div>
	                        <div class="item-input">
	                            <input type="text" placeholder="请选择用户类型" id='picker'>
	                        </div>
	                        <span class="icon icon-down" style="font-size: 0.5rem !important;"></span>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div class="item-content">
	                    <div class="item-media"><i class="icon icon-form-password"></i></div>
	                    <div class="item-inner">
	                        <div class="item-title label">手机号码</div>
	                        <div class="item-input">
	                            <input id="mobile" type="text" placeholder="请输入手机号码" class="">
	                        </div>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div class="item-content">
	                    <div class="item-media"><i class="icon icon-form-password"></i></div>
	                    <div class="item-inner">
	                        <div class="item-title label">短信验证码</div>
	                        <div class="item-input">
	                            <input id="verify-code" type="text" placeholder="请输入验证码" class="">
	                        </div>
	                        <a class="button button-small button-fill" href="javascript:" id="get-verify-code">获取验证码</a>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div class="item-content">
	                    <div class="item-media"><i class="icon icon-form-password"></i></div>
	                    <div class="item-inner">
	                        <div class="item-title label">新密码</div>
	                        <div class="item-input">
	                            <input id="new-pwd" type="password" placeholder="请输入新密码" class="">
	                        </div>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div class="item-content">
	                    <div class="item-media"><i class="icon icon-form-password"></i></div>
	                    <div class="item-inner">
	                        <div class="item-title label">确认密码</div>
	                        <div class="item-input">
	                            <input id="new-pwd2" type="password" placeholder="请再次输入新密码" class="">
	                        </div>
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div>
	    <div class="content-block">
	        <div class="row">
	            <div class="col-100"><a href="javascript:" class="button button-big button-fill" id="save-btn">确定</a></div>
	        </div>
	    </div>
	</form>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){
		$(document).on('click','#user-type', function () {
		      var buttons1 = [
		        {
		          text: '请选择',
		          label: true
		        },
		        {
		          text: '信使',
		          bold: true,
		          color: 'danger',
		          onClick: function() {
		            
		          }
		        },
		        {
		          text: '商家',
		          onClick: function() {
		            
		          }
		        },
		        {
		          text: '服务商',
		          onClick: function() {
		            
		          }
		        },
		        {
		          text: '制造商',
		          onClick: function() {
		            
		          }
		        },
		        {
		          text: '贸易商',
		          onClick: function() {
		            
		          }
		        },
		        {
		          text: '零售商',
		          onClick: function() {
		            
		          }
		        }
		      ];
		      var buttons2 = [
		        {
		          text: '取消',
		          bg: 'danger'
		        }
		      ];
		      var groups = [buttons1, buttons2];
		      $.actions(groups);
	  	});
		$('#save-btn').click(function(){
			// verify
			if(!$trim($('#mobile').val())){
				$.toast('请输入手机号码');
				return false;
			}else if(!$.trim($('#new-pwd').val())){
				$.toast('请输入新密码');
				return false;
			}else if(!$.trim($('#new-pwd2').val())){
				$.toast('请再次输入新密码');
				return false;
			}else if(!$.trim($('#new-pwd').val()) != !$.trim($('#new-pwd2').val())){
				$.toast('两次输入的密码不一致');
				return false;
			}
			$('#save-form').submit();
		});
		// get verify code
		$('#get-verify-code').click(function(){
			var verify_code = $.trim($('#verify-code').val());
			if(!verify_code){
				$.toas('请输入验证码');
				return false;
			}
			$.ajax({
				url:'',
				method:'post',
				dataType:'json',
				data:{
					code: verify_code,
				},
				success:function( ret ){

				}
			});
		});
	});
</script>
<%- include('inc/footer') %> 