<%- include('inc/head') %>
<style type="text/css">
	.content{background-color: #fff;}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">关于一点科技</h1>
</header>
<div class="content">
	<div class="tc">
		<h4 class="underline color-red">一点科技商业服务模式</h4>
	</div>
	<p class="content-text">内容......</p>
	<div class="tc">
		<h4 class="underline color-red">一点科技的使命和宣言</h4>
	</div>
	<p class="content-text">内容......</p>
</div>
<%- include('inc/js_load') %> 
<%- include('inc/footer') %> 