<%- include('inc/head') %>
<style type="text/css">
	.content{height: 100%;}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">版本信息</h1>
</header>
<div class="content main-bg-1 tc">
	<div style="height:2rem;"></div>
	<img style="width:50%" src="./img/versioninfo_logo.png">
	<p class="tc color-fff f2">v1.00</p>
	<img style="width:60%;height: 10rem;" src="./img/">
	<p class="tc color-fff">扫描二维码，下载一点公益客户端</p>
</div>
<%- include('inc/js_load') %> 
<%- include('inc/footer') %> 