<%- include('inc/head') %>
<link rel="stylesheet" type="text/css" href="./css/uc_index.css">
<header class="bar bar-nav bg-cover main-bg-1">
    <a class="button button-link button-nav pull-left" href="/demos/card" data-transition='slide-out'>
        <div class="tc" style="line-height: 0.6rem;">
            <img style="width:1.2rem;margin:0.5rem 0.5rem;" src="./img/mine_title_setting.png"><br>
            <!-- <span class="icon icon-me"></span> -->
        </div>
    </a>
    <h1 class="title color-fff">我的</h1>
    <a class="button button-link button-nav pull-right" href="/demos/card" data-transition='slide-out'>
        <!-- <span class="icon icon-menu"></span> -->
        <img class="vm" style="height:50%;margin-right:0.3rem;" src="./img/mine_title_xx.png">
    </a>
</header>
<div class="content">
	<div class="row user-info main-bg-1">
      <div class="col-50">
      	<div class="rl tc">
      		<img style="width:60%;" src="./img/icon_head.png">
      		<div class="tag-name bg-norepeat color-fff">信使</div>
      	</div>
      	<div class="tc color-fff" style="line-height: 0.8rem;">
      		<span>ID:0982u50324</span><br>
      		<span class="user-name">username</span>
      	</div>
      </div>
      <div class="col-50">
      	  <div class="list-block">
		    <ul>
		      <li class="item-content">
		        <div class="item-inner">
		          <div class="item-title">商品名称</div>
		          <div class="item-after">杜蕾斯</div>
		        </div>
		      </li>
		      <li class="item-content">
		        <div class="item-inner">
		          <div class="item-title">型号</div>
		          <div class="item-after">极致超薄型</div>
		        </div>
		      </li>
		    </ul>
		  </div>
      </div>
    </div>
    <div class="blank-2"></div>
    <div class="middle-nav grid">
    	<div class="row">
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	    </div>
	    <div class="row">
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	    </div>
	    <div class="row">
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	      	<div class="col-50">
	      		<img src="./img/mine_wdax.png"><br/>
	      		<span class="color-666">爱心捐赠</span>
	      	</div>
	    </div>
    </div>
</div>
<%- include('inc/bottom_nav') %> 
<%- include('inc/js_load') %> 
<%- include('inc/footer') %> 