<%- include('inc/head') %>
<style type="text/css">
	.bank-list{
		min-height: 20rem;
	}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">我的银行卡</h1>
    <a class="button button-link button-nav pull-right color-fff" style="font-size: 1.5rem;margin-right: 0.2rem;" href="./uc_add_bank.html">+</a>
</header>
<div class="content">
	<div class="bank-list">
		
	</div>
    <div class="content-block">
        <div class="row">
            <div class="col-100"><a href="#" class="button button-big button-fill" id="login-btn">确定</a></div>
        </div>
    </div>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){
		
	});
</script>
<%- include('inc/footer') %>