<%- include('inc/head') %>
<link rel="stylesheet" type="text/css" href="./css/login.css">
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">我要推荐</h1>
    <a class="button button-link button-nav pull-right color-fff" href="./uc_my_recommend_log.html">推荐记录</a>
</header>
<div class="content main-bg-1">
    <div class="tc color-fff">
        <img class="w-70" src="./img/mine_hqfy.png">
        <br>
        <span class="color-fff">扫描此二维码，注册</span>
        <br>
        <span class="color-fff">长按此二维码分享到你的社交圈</span>
    </div>
    <div class="h2"></div>
    <div class="row">
        <div class="col-50 tc color-fff">全民化</div>
        <div class="col-50 tc color-fff">痕迹化</div>
    </div>
    <div class="row">
        <div class="col-50 tc color-fff">系统化</div>
        <div class="col-50 tc color-fff">持续化</div>
    </div>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	
</script>
<%- include('inc/footer') %>