<%- include('inc/head') %>
<style type="text/css">
	.donation-item{padding: 1rem;}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">让利捐赠</h1>
</header>
<div class="content">
	<div class="item bottom-line-999">
		<span>捐赠合计:5345345.0元</span>
	</div>
	<div class="row item bottom-line-999">
		<div class="col-50 tc">
			捐赠日期
		</div>
		<div class="col-50 tc">
			捐赠金额(元)
		</div>
	</div>
	<ul class="none-donation-list bg-fff">
		<li class="item donation-item row bottom-line">
			<div class="donate-date col-50">2016-04-08</div>
			<div class="donate-account col-50 tc">45</div>
		</li>
		<li class="item donation-item row bottom-line">
			<div class="donate-date col-50">2016-04-08</div>
			<div class="donate-account col-50 tc">45</div>
		</li>
		<li class="item donation-item row bottom-line">
			<div class="donate-date col-50">2016-04-08</div>
			<div class="donate-account col-50 tc">45</div>
		</li>
	</ul>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){

	});
</script>
<%- include('inc/footer') %> 