<%- include('inc/head') %>
<style type="text/css">
	.swiper-container{
		width: 100%;
	}
	.swiper-wrapper{
		width: 100%;
	}
	.swiper-slide{
		width: 100%;
	}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">联盟商家</h1>
</header>
<div class="content">
	<div class="swiper-container" data-space-between='10'>
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){
		$(".swiper-container").swiper({
	        //autoplay:5000,
	        effect:'cube'
	    });
	});
</script>
<%- include('inc/footer') %> 