<%- include('inc/head') %>
<style type="text/css">
	.swiper-container{
		width: 100%;
	}
	.swiper-wrapper{
		width: 100%;
	}
	.swiper-slide{
		width: 100%;
	}
	.swiper-slide .row{
		padding: 0;
		margin: 0;
	}
	.swiper-slide .col-25{
		width: 25%;
		min-height: 4.3rem;
		padding: 0.5rem 0;
		margin: 0;
		line-height: 1rem;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.swiper-slide .col-25 img{
		display: inline-block;
		width: 2rem;
	}
	.swiper-pagination-bullet-active{
		background-color: #cc2222;
	}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <h1 class="title color-fff">联盟商家</h1>
</header>
<div class="content">
	<div class="swiper-container" data-space-between='10'>
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){
		$(".swiper-container").swiper({
	        //autoplay:5000,

	    });
	});
</script>
<%- include('inc/footer') %> 