<%- include('inc/head') %>
<style type="text/css">
	.swiper-container{
		width: 100%;
	}
	.swiper-wrapper{
		width: 100%;
	}
	.swiper-slide{
		width: 100%;
	}
	.swiper-slide .row{
		padding: 0;
		margin: 0;
	}
	.swiper-slide .col-25{
		width: 25%;
		min-height: 4.3rem;
		padding: 0.5rem 0;
		margin: 0;
		line-height: 1rem;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.swiper-slide .col-25 img{
		display: inline-block;
		width: 2rem;
	}
	.swiper-pagination-bullet-active{
		background-color: #cc2222;
	}
</style>
<header class="bar bar-nav bg-cover main-bg-1">
	<a class="button button-link button-nav pull-left back">
        <span class="icon icon-left color-fff"></span>
    </a>
    <!-- <h1 class="title color-fff">联盟商家</h1> -->
    <div class="searchbar">
	    <a class="search-btn pull-right color-fff" style="line-height: 1.5rem;">搜索</a>
	    <div class="search-input">
	        <label class="icon icon-search" for="search"></label>
	        <input style="width: 13rem;" type="search" id='search' placeholder='输入关键字...' />
	    </div>
</div>
</header>
<div class="content">
	<div class="swiper-container" data-space-between='10'>
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        		<div class="col-25">
	        			<img src="./img/icon_shlx.png">
	        			<br/>
	        			<a href="">美食</a>
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        		<div class="col-25">
	        			test
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
    <ul class="seller-list bg-fff">
    	<li class="item seller-item bottom-line">
    		<a class="row" href="./seller_detail.html">
        		<div class="col-40 seller-snapshot tc">
        			<img class="seller-img" src="https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C0%2C470%2C285%3Bw%3D470%3Bq%3D80/sign=41867c89748da9775a60dc6b8d61d429/9825bc315c6034a855c9073bcc13495409237664.jpg">
        			<br/>
        			<span>BL3734534</span>
        		</div>
        		<div class="col-60 seller-info">
        			<div class="seller-name">
        				<h3>什么什么鸟店</h3>
        			</div>
        			<div class="seller-addr">
        				什么什么地址什么什么地址什么什
        			</div>
        			<div>
        				<img class="vm seller-level" src="./img/main_star3.png">
        				<span class="vm business-type">零售商</span>
        			</div>
        		</div>
    		</a>
    	</li>
    	<li class="item seller-item bottom-line">
    		<a class="row" href="./seller_detail.html">
        		<div class="col-40 seller-snapshot tc">
        			<img class="seller-img" src="https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C0%2C470%2C285%3Bw%3D470%3Bq%3D80/sign=41867c89748da9775a60dc6b8d61d429/9825bc315c6034a855c9073bcc13495409237664.jpg">
        			<br/>
        			<span>BL3734534</span>
        		</div>
        		<div class="col-60 seller-info">
        			<div class="seller-name">
        				<h3>什么什么鸟店</h3>
        			</div>
        			<div class="seller-addr">
        				什么什么地址什么什么地址什么什
        			</div>
        			<div>
        				<img class="vm seller-level" src="./img/main_star3.png">
        				<span class="vm business-type">零售商</span>
        			</div>
        		</div>
    		</a>
    	</li>
    	<li class="item seller-item bottom-line">
    		<a class="row" href="./seller_detail.html">
        		<div class="col-40 seller-snapshot tc">
        			<img class="seller-img" src="https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C0%2C470%2C285%3Bw%3D470%3Bq%3D80/sign=41867c89748da9775a60dc6b8d61d429/9825bc315c6034a855c9073bcc13495409237664.jpg">
        			<br/>
        			<span>BL3734534</span>
        		</div>
        		<div class="col-60 seller-info">
        			<div class="seller-name">
        				<h3>什么什么鸟店</h3>
        			</div>
        			<div class="seller-addr">
        				什么什么地址什么什么地址什么什
        			</div>
        			<div>
        				<img class="vm seller-level" src="./img/main_star3.png">
        				<span class="vm business-type">零售商</span>
        			</div>
        		</div>
    		</a>
    	</li>
    </ul>
</div>
<%- include('inc/js_load') %> 
<script type="text/javascript">
	$(function(){
		var $body = $('body');
		$(".swiper-container").swiper({
	        //autoplay:5000,

	    });

	    // @search
	    var search_btn = $('#search');
		$body.on('click', '.search-btn', function(){
			var search_key_word = search_btn.val();
			window.location && window.location.href = 'search=' + search_key_word;
		});
		// @end
	});
</script>
<%- include('inc/footer') %> 