<%- include('inc/head') %>
<%- include('inc/header') %>  
<div class="content">
  <div class="wrap">
    <div class="photo-list clearfix">
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/FGHWLEy5/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/FGHWLEy5/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/FGHTeuhT/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/FGHTeuhT/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href="http://pic.yupoo.com/piaoliangmeimei/Dp7POny7/medish.jpg"><img src="http://pic.yupoo.com/piaoliangmeimei/Dp7POny7/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href=""><img src="http://pic.yupoo.com/piaoliangmeimei/Dp7TuPdz/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href=""><img src="http://pic.yupoo.com/piaoliangmeimei/Dp7VBKy7/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href=""><img src="http://pic.yupoo.com/piaoliangmeimei/Dp7VD9MP/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href=""><img src="http://pic.yupoo.com/piaoliangmeimei/DpCgECR9/medish.jpg"></a>
      </div>
      <div class="img-wrap">
        <a target="_blank" href=""><img src="http://pic.yupoo.com/piaoliangmeimei/Fv33uQJE/medish.jpg"></a>
      </div>
    </div>
  </div>
</div>  
<script type="text/javascript">
  function navFocus(){
        $("#welfare-nav").addClass("c");  
  }
</script>     
<%- include('inc/footer') %> 
