*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{margin:0;}
html{color:#333;font: 16px;}
li,a,img{text-decoration:none;display: inline-block;}
a{color:#666;}
.wrap{
  width:1000px;
  margin:0 auto;
}
.top-header{
  padding:5px 0;
  background-color: #333;
}
.top-nav{
  height: 50px;
  background-color: #ddd;

}
.content{background-color:#f1f1f1;}
.content > .wrap{padding:10px 0;padding-top: 30px;}
.top-nav li{display: inline-block;line-height: 50px;font-size:20px;}
.top-nav li a{display: block;padding:0 20px;}
.top-nav li a:hover{color:#fff;background-color: #666;}

.photo-list{font-size:0;}
.img-wrap{
  display: inline-block;
  width:250px;
  height:400px;
  padding:0px;
  background-color: #eee;
}
.img-wrap a{width:100%;height:100%;background-size: cover;background-position: center center;}
.img-wrap img{
  display: none;
  width:100%;
}


