*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
h1,h2,h3,h4,h5,h6{margin:0;}
html{color:#333;font: 14px;}
li,a,img{text-decoration:none;display: inline-block;}
a{color:#666;}
.wrap{
  width:1000px;
  margin:0 auto;
}
.top-header{
  padding:10px 0;
  background-color: #333;
}
.top-nav{
  height: 30px;
  background-color: #ddd;

}
.content{background-color:#f5f5f5;}
.content > .wrap{padding:30px 0;}
.top-nav{font-size:0;}
.top-nav li{display: inline-block;line-height: 30px;font-size:14px;}
.top-nav li a{display: block;padding:0 25px;}
.top-nav li a:hover{color:#fff;background-color: #666;}
.top-nav li a.c{color:#fff;background-color: #666;}


.photo-list{font-size:0;}
.img-wrap{
  display: inline-block;
  width:250px;
  height:400px;
  padding:0px;
  background-color: #eee;
}
.img-wrap a{width:100%;height:100%;background-size: cover;background-position: center center;}
.img-wrap a:hover{background-size: auto 110%;}
.img-wrap img{
  display: none;
  width:100%;
}

footer{
  height: 50px;
  background-color: #eee;
}

@media screen and (max-width:1000px){
  .wrap{width:100%;}
  .content > .wrap{padding:10px 0;}
  .top-nav{position: fixed;left:0;bottom:0;width:100%;}
  .img-wrap{width:50%;height:180px;height:80vw;float:left;}
}


