/*common reset*/
*{
	margin: 0; 
	padding: 0;
}
html,body{
	font-size:16px;
}
ul,li{
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
/*end*/

.wrap{
	width: 1000px;
	margin: 0 auto;
	color: #eee;
}

.top{
	line-height: 30px;
	background-color: #333;
}


.top-nav{
	background-color: #ccc;
	line-height: 35px;
}

.top-nav li{
	float: left;
	border-right: 1px solid #999;
}

.top-nav > li > a{
	display: block;
	width: 80px;
	text-align: center;
}

footer{
	line-height: 50px;
	background-color: #333;
}
