/* @site base style start */
.rl{
	position: relative;
}
.ps{
	position: absolute;
}

.w-100{
	width: 100%;
}
.h-100{
	height: 100%;
}

.blank-1{height:1rem;}
.blank-2{height:2rem;}
.blank-3{height:3rem;}

.vm{vertical-align: middle;}

.l1{
	line-height: 1rem;
}
.l2{
	line-height: 2rem;
}
.l3{
	line-height: 3rem;
}

.bg-cover{
	background-position: center;
	background-origin:center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-norepeat{
	background-repeat:no-repeat;
}

.main-bg-1{
	background-color: #cc2222;
}
.main-bg-2{
	background-color: #cccc66;
}
/*.bg-red{
	background-color: #cc2222;
}*/

.color-fff{color:#fff !important;}
.color-666{color:#666 !important;}
.color-red{color:#ee3333 !important;}

.f1{
	font-size:0.7rem;
}

.tc{text-align: center;}

.crearfix:after{
	content:'';
	display: none,
	visibility: none;

}
/* @site base style end */
/*---------------------------------------*/

/* @site common style start */
.bar-tab .active *{
	color:#cc2222 !important;
}

.tips-wrap{
	text-align: center;
}
.tips-wrap img{
	width:20%;
}
/* @site common style end 
/*---------------------------------------*/